---
language: ruby
cache: bundler
rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
before_install: gem install bundler

jobs:
  include:
    name: 'Ruby: 3.0.0.preview1'
    before_install: rvm get head && rvm use --install --binary 3.0.0.preview1
